<div class="home-page">
    <h2>Welcome to the <span class="code">SASjs</span> SAS folder navigator!</h2>
    <div>
      App Source Code:
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/sasjs/folder-navigator">
        https://github.com/sasjs/folder-navigator
      </a>
    </div>
    <br />
    <div>
      <span class="code">SASjs</span> Adapter:
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/sasjs/adapter">
        https://github.com/sasjs/adapter
      </a>
    </div>
    <br />
    <div>
      <span class="code">SASjs</span> CLI:
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/sasjs/cli">
        https://github.com/sasjs/cli
      </a>
    </div>
    <br />
    <div>
      <span class="code">SASjs</span> Macro Core:
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/sasjs/core">
        https://github.com/sasjs/core
      </a>
    </div>
    <br />
    <div>
      <span class="code">SASjs</span> on NPM:
      <a target="_blank" rel="noopener noreferrer" href="https://www.npmjs.com/package/sasjs">
        https://www.npmjs.com/package/sasjs
      </a>
    </div>
</div>